.bg {
  height: 100vh;
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  color: white;
  text-align: center;
}


/* $bg: #1d1f20;
$text-color: #d7b94c;
$caret-color: white;
$text-length: 16;
$animation-time: 4s; */



h1 {
  font-family: 'Inconsolata', Consolas, monospace;
  font-size: 4em;
  color: #d7b94c;
}


.typing {
  position: relative;

}

.typing:after {
  content: "|";
  position: absolute;
  right: 0;
  width: 100%;
  color: white;
  background: #1d1f20;
  animation: typing 2s steps(16) forwards,
    caret 1s infinite;
}

@keyframes typing {
  to {
    width: 0
  }
}

@keyframes caret {
  50% {
    color: transparent
  }
}