.h1{
    display: flex;
    justify-content: center;
    color: #2954A3;
    font-size: 32px;
}
.skills_container{
    row-gap: 0;
    display: flex;
    justify-content:space-between;
    padding: 0 15% 0 15%
}
.skills_content{
    margin-right: 7%;
    width: 100%;
}
.skills_header{
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    cursor: pointer;
    
}
.skills_icon,
.skills_arrow{
    font-size: 26px;
    color: #2954A3;
}

.skills_icon{
    margin-right: 5px;
}

.skills_title{
    font-size:20px;
    color:#2954A3
}
.skills_subtitle{
    font-size: 20Px;
}
.skills_arrow{
margin-left: auto;
transition: 2s;
}

.skills_title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.skills_name{
    font-size: 20px;
    font-weight:7px;
}
.skills_bar,
.skills_percentage{
    height: 5px;
    border-radius: .25rem;
}

.skills_bar{
    background-color: #2954A3;
}

.skills_percentage{
    display: block;
    background-color: #C9E3E7;
}
.skills_HTML{
    width: 90%;
}

.skills_list{
    row-gap: 1.5rem;
    padding-left: 2.7rem;
}
.skills_close .skills_list{
    height: 0;
    overflow:hidden;
    /* background-color: black; */
}
.skills_open .skills_list{
    height: max-content;
    margin-bottom: 5px;
}

.skills_open .skills_arrow{
    transform: rotate(-180deg);
}

.skills_css{
    width: 50%;
}
/* .box_left{
    margin-left: 20%;
}
.box_right{
margin-right: 20%;
} */
/* .server{
    padding: 0 0 0 120px;
} */


@media screen and (max-width: 480px) {
    .skills_container{
        display: flex;
        flex-direction: column;
        margin-bottom: 2px;
        justify-content: center;
        width: 100%;
        padding: 2%
    }

    .skills_title{
        justify-content: center;
        text-align: center;
    }
    .skills_header{
        justify-content: space-between;
        padding: 10px 20px 30px 10px
        /* margin-left: 20%; */
    }
    .box_left{
        margin-left: 0%;
        width: 100%;

    }
    .box_right{
        margin-right: 0%;
        width: 100%;
        }
        .skills_list{
            padding-left: 0;   
        }
        .skills_arrow{
            margin-left: 0%;
        }
        .skills_content{
            display: flex;
            justify-content: center;
            text-align: center;
            width: 100%;
        }
        .skills_header{
            margin-left: 0;
        }

}

