.h1{
    display: flex;
    justify-content: center;
}
.skills_container{
    row-gap: 0;
    display: flex;
    justify-content:space-around;
}
.skills_content{
    margin-right: 7%;
    width: 100%;
}
.skills_header{
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    cursor: pointer;
}
.skills_icon,
.skills_arrow{
    font-size: 2rem;
    color: blue;
}

.skills_icon{
    margin-right: 5px;
}

.skills_title{
    font-size: 15px;
}
.skills_subtitle{
    font-size: 7px;
}
.skills_arrow{
margin-left: auto;
transition: 2s;
}

.skills_title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.skills_name{
    font-size: 10px;
    font-weight:7px;
}
.skills_bar,
.skills_percentage{
    height: 5px;
    border-radius: .25rem;
}

.skills_bar{
    background-color: blue;
}

.skills_percentage{
    display: block;
    background-color: black;
}
.skills_HTML{
    width: 90%;
}

.skills_list{
    row-gap: 1.5rem;
    padding-left: 2.7rem;
}
.skills_close .skills_list{
    height: 0;
    overflow:hidden;
    /* background-color: black; */
}
.skills_open .skills_list{
    height: max-content;
    margin-bottom: 5px;
}

.skills_open .skills_arrow{
    transform: rotate(-180deg);
}

.skills_css{
    width: 50%;
}

