.contact_form {
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 80vh;
    margin-top: 2rem;
   
}
.header{
    display: flex;
    justify-content: center;
    font-size: 26px;
    color: #2954A3;
}

.c_right {
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.c_right>form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

}

.c_right .user {
    width: 20rem;
    height: 2rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid #C9E3E7;
    border-radius: 8px;
    font-size: 16px;
}

textarea {
    height: 4rem !important;
}
.btn{
    background-color: #2954A3;
}
.w_left{
    display: flex;
    flex-direction: column;
    
}

.span{
    margin-bottom: 10px;
    margin-left: 30px;
    color: #2954A3;
    font-size: 20px;

}
.icon{
    color: #2954A3;
    font-size: 33px;
}
.box{
    display: flex;
    margin-top:20px;
    height: 70px;
    
    width: 300px;
}
.container{
margin-left: 40%;
}



@media screen and (max-width: 480px) {
    .contact_form {
        padding: 0;
        flex-direction: column;
        gap: 5rem;
        height: 40rem;
    }

    .c_right .user {
        width: 16rem;
    }

}