.container {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    position: fixed;
    background: #8ecae6;
    width: 100%;
    z-index: 5;
}

.left {
    flex: 1;
    align-items: center;
    justify-content: left;
    display: flex;
    gap: 2rem;
}

.name {
    font-size: 1.3rem;
    font-weight: bold;
}

.right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 400;
}

.list {
    flex: 10;
}

.list>ul {
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
}

.list>ul :hover {
    color: var(--orange);
    cursor: pointer;
}

.navButton {
    flex: 2;
}

@media screen and (max-width: 480px) {
    .list {
        display: none;
    }
}