.Intro {
    display: flex;
    margin-top: 6rem;
    padding: 0.5rem 3.5rem;
    width: 100%;

}

/* left side styling */
.left {
    display: flex;
    position: relative;
    gap: 2rem;
}

.name {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.name> :nth-child(1) {
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}

.name> :nth-child(2) {
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
}

.name> :nth-child(3) {
    font-weight: 100;
    font-size: 14px;
    color: var(--gray);
    margin-top: 10px;
}

.introButton {
    width: 6rem;
    height: 2rem;
    margin-top: 30px;
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.icons>* {
    transform: scale(0.5);

}

.icons>*:hover {
    cursor: pointer;
}

/* right side styling */

.right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.profile {

    height: 70%;

    border-radius: 25px;
    position: absolute;
    top: 95px;
}



@media screen and (max-width: 480px) {
    .Intro {
        flex-direction: column;
        height: 64rem;
    }

    .right {
        transform: scale(0.8);
        left: -3rem;
    }

    .right .blur {
        display: none;
    }

}