.experience {
    display: flex;
  flex-direction: column;
  margin-top: 150px;
}
.header{
    display: flex;
    justify-content: center;
    color: #2954A3;
}
.bottom{
    font-size: 10px;
    font-weight: 7px;
    cursor: pointer;
}
.icon{
    font-size: 15px;
    margin-right: 25px;
}
.data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}
.title{
    font-size: 20px;
}
.subtitle{
    display: block;
    margin-bottom: 3px;
}
.cleander{
    font-size: 20px;
}
.rounder{ 
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: #2954A3;
    border-radius: 50%;
}
.line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: #2954A3;
    transform: translate(6px, -7px);
}