.experience {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    /* gap: 5rem; */
    /* margin-bottom: 8rem; */
    /* darkmode */
    color: var(--black);
}
.tabs{
    display:flex ;
    justify-content: space-evenly;
    margin-bottom: 2px;
}
.bottom{
    font-size: 10px;
    font-weight: 7px;
    cursor: pointer;
}
.icon{
    font-size: 15px;
    margin-right: 25px;
}
.data{
    display: grid;
    grid-template-columns: fr max-content 1fr;
    column-gap: 1.5rem;

}
