.container {
    padding: 0 3rem 0 3rem;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 8rem;
    margin-top: 9rem;
    margin-bottom: 13rem;
    /* scroll view */
    padding-top: 3rem;
}

.header {
    display: flex;
    color: white;
    font-size: 26px;
    font-weight: bold;
}

/* left side */
.box {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    /* gap: 20px; */
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C9E3E7;
    border-radius: 48px;
    height: 100%;
    color:#2954A3;
    padding: 5%;

}





.s_button {
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
    background-color: #2954A3;
    border: white solid 0.5px;
}





@media screen and (max-width: 480px) {
    .services {
        margin-top: 0;
        flex-direction: column;
        gap: 5rem;
        height: 66rem;
        padding: 0;
    }

}